ion-card {
    height: 500px;
    background-color: #335020;
    color: white;
}

.card-menor {
    height: 100px;
}

.card-maior {
    height: 130px;
}

.campo {
    font-weight: bold;
}

ion-col {
    margin-left: 15px;
}

ion-card-title {
    text-align: center;
    background-color: #335020;
    margin-bottom: 10px;
    color: white;
}

.totais {
    align-items: center;
}
