<ion-header>
  <ion-toolbar>
    <ion-title style="background-color: #335020; font-size: 20px; color: white;">Menu Métricas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content style="height: 100%;">
  <ion-grid style="text-align: center; background-color: #558335; height: 100%; justify-content: center;">
      <ion-button style="margin: 30px 0px; height: 50px;" expand="block" [routerLink]="['/lotes']">Métricas do Rebanho</ion-button>
      <ion-button style="margin: 30px 0px; height: 50px;" expand="block">Métricas Financeiras</ion-button>
      <ion-button style="margin: 30px 0px; height: 50px;" expand="block">Métricas de Alimentação</ion-button>
      <ion-button style="margin: 30px 0px; height: 50px;" expand="block">Métricas</ion-button>
  </ion-grid>
</ion-content>
