ion-card {
    height: 200px;
}

.card-menor {
    height: 90px;
}

.card-maior {
    height: 130px;
}

.campo {
    font-weight: bold;
}

ion-col {
    margin-left: 15px;
}

ion-card-title {
    text-align: center;
    background-color: lightgrey;
    margin-bottom: 10px;
}

.totais {
    align-items: center;
}