<ion-header>
  <ion-toolbar>
    <ion-title>Grupamento</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-maior" button [routerLink]="['/geral']">
    <ion-card-title>Totais</ion-card-title>
    <ion-row>
      <ion-col>
        <p style="text-align: center;" class="campo">Quantidade Total</p>
      </ion-col>
      <ion-col>
        <p style="text-align: center;" class="campo">Peso Total</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        {{countTotal}} animais
      </ion-col>
      <ion-col style="text-align: center;">
        {{totalPeso}} kg
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="card-menor">
    <ion-card-title center >Sexo</ion-card-title>
    <ion-row>
      <ion-col size="4" class="campo">
        Macho
      </ion-col>
      <ion-col size="5">
        {{countMacho}} animais
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="campo">
        Fêmea
      </ion-col>
      <ion-col size="5">
        {{countFemea}} animais
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-card-title>Idade</ion-card-title>
    <ion-row>
      <ion-col size="4" class="campo">
        Média
      </ion-col>
      <ion-col size="5">
        {{mediaIdade}} meses/animal
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="campo">
        0 - 8 meses
      </ion-col>
      <ion-col size="5">
        {{countAte8}} animais
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="campo">
        8 - 16 meses
      </ion-col>
      <ion-col size="5">
        {{countAte16}} animais
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="campo">
        16 - 24 meses
      </ion-col>
      <ion-col size="5">
        {{countAte24}} animais
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="campo">
        24 - 36 meses
      </ion-col>
      <ion-col size="5">
        {{countAte36}} animais
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="campo">
        > 36 meses 
      </ion-col>
      <ion-col size="5">
        {{countMaior36}} animais
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card style="height: 450px;">
    <ion-card-title>Gráfico de Idade</ion-card-title>
    <canvas baseChart 
    [datasets]= "dataGraficoIdade"
    [labels]="labelGraficoIdade"
    [legend]=false
    [type]="'pie'">
    </canvas>
  </ion-card>
  <ion-card>
    <ion-card-title>Peso</ion-card-title>
    <ion-row>
      <ion-col size="4" class="campo">
        Média
      </ion-col>
      <ion-col size="5">
        {{mediaPeso}} kg/animal
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="campo">
        0 - 150 kg
      </ion-col>
      <ion-col size="5">
        {{countAte150}} animais
      </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col size="4" class="campo">
        150 - 300 kg
      </ion-col>
      <ion-col size="5">
        {{countAte300}} animais
      </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col size="4" class="campo">
        300 - 450 kg
      </ion-col>
      <ion-col size="5">
        {{countAte450}} animais
      </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col size="4" class="campo">
        450- 600 kg 
      </ion-col>
      <ion-col size="5">
        {{countAte600}} animais
      </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col size="4" class="campo">
        > 600 kg 
      </ion-col>
      <ion-col size="5">
        {{countMaior600}} animais
      </ion-col>
    </ion-row> 
  </ion-card>
  <ion-card>
    <ion-card-title>Gráfico de Peso</ion-card-title>
    <canvas baseChart 
    [datasets]= "dataGraficoPeso"
    [labels]="labelGraficoPeso"
    [legend]=false
    [chartType]="'bar'">
    </canvas>
  </ion-card>
</ion-content>
