ion-card {
    height: 170px;
}

ion-card-title {
    margin-left: 10px;
    margin-bottom: 10px;
}

.card-menor {
    height: 90px;
}

.card-maior {
    height: 200px;
}

div {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 1px;
}

.totais {
    align-items: center;
}