<ion-header>
  <ion-toolbar>
    <ion-title style="background-color: #335020; font-size: 20px; color: white;">Módulo de Pesagem</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<body style="background-color: #558335; ">
  <ion-grid style="text-align: center;">
    <ion-card style="margin-top: 150px; background-color: lightgray;">
      <form [formGroup]="pesagemForm" (submit)="addPesoAnimal()">
        <ion-item>
          <ion-label>Identificador</ion-label>
          <ion-input type="number" placeholder="Número do animal" formControlName="numero"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Data</ion-label>
          <ion-input type="date" formControlName="data"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Peso</ion-label>
          <ion-input type="number" placeholder="Peso em Kg" formControlName="peso"></ion-input>
        </ion-item>
        <ion-button type="submit" [disabled]="pesagemForm.invalid" expand="block">Salvar</ion-button>
      </form>
      <ion-button color="danger" (click)="limparForm()" expand="block">Limpar</ion-button>
    </ion-card>
    <ion-button color="warning" id="open-modal-atrasos">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-text style="margin-left: 5px;">Animais Sem Pesagem</ion-text>
    </ion-button>
  </ion-grid>
</body>

<ion-modal trigger="open-modal-atrasos">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Voltar</ion-button>
        </ion-buttons>
        <ion-title>Sem Dados de Pesagem</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item-sliding *ngFor="let animal of animais">
          <ion-item *ngIf="animal.status == 'vivo'" style="font-size: large;" button [routerLink]="['/gado/detalhes', animal.id]" (click)="cancel()">
            <ion-avatar slot="start" *ngIf="animal.sexo === 'Fêmea'" style="background-color: lightsalmon; text-align: center; width: 50px; height: 50px;">
              <h2 style="margin-top: 10px; padding-top: 0px;">{{animal.numero}}</h2>
            </ion-avatar>
            <ion-avatar slot="start" *ngIf="animal.sexo === 'Macho'" style="background-color: lightblue; text-align: center; width: 50px; height: 50px;">
              <h2 style="margin-top: 10px; padding-top: 0px;">{{animal.numero}}</h2>
            </ion-avatar>
            <ion-label>
              {{animal.nome}}
              <p>{{animal.lote}} - {{(((dataAtual-(animal.nascimento.seconds*1000))/1000)/(60*60*24*30)) | number:'0.0-0'}} Meses</p>
            </ion-label>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>