<ion-header>
  <ion-toolbar>
    <ion-title style="background-color: #335020; font-size: 20px; color: white;">Edição de Animal</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="edicaoForm" (submit)="editAnimal()">
      <ion-item>
        <ion-label>Número</ion-label>
        <ion-input type="number" formControlName="numero"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Nome</ion-label>
        <ion-input formControlName="nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Sexo</ion-label>
        <ion-select formControlName="sexo" interface="popover" class="custom-options">
          <ion-select-option value="Macho">Macho</ion-select-option>
          <ion-select-option value="Fêmea">Fêmea</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Raça</ion-label>
        <ion-input formControlName="raca"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Nascimento</ion-label>
        <ion-input type="date" formControlName="nascimento"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Foto</ion-label>
        <ion-input type="file" (change)="uploadPhoto($event)" accept=".png,.jpg,.jpeg" style="font-size: 10px;"></ion-input>
        <ion-input hidden formControlName="foto" [name]="foto"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Lote</ion-label>
        <ion-select  formControlName="lote" interface="popover" class="custom-options">
          <ion-select-option value="Figueira">Figueira</ion-select-option>
          <ion-select-option value="Santa Rita">Santa Rita</ion-select-option>
          <ion-select-option value="Bambu Mirim">Bambu Mirim</ion-select-option>
          <ion-select-option value="Pasto Ponte">Pasto Ponte</ion-select-option>
          <ion-select-option value="Açude">Açude</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-textarea rows="8" placeholder="Insira os dados extras..." formControlName="rascunho"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Pai</ion-label>
        <ion-input formControlName="pai"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Mãe</ion-label>
        <ion-input formControlName="mae"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Vendedor</ion-label>
        <ion-select formControlName="vendedor" interface="popover" class="custom-options">
          <ion-select-option *ngFor="let vendedor of vendedores" value="{{vendedor.id}}">{{vendedor.nome}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Preço</ion-label>
        <ion-input type="number" formControlName="valor"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Data de Compra</ion-label>
        <ion-input type="date" formControlName="dataCompra"></ion-input>
      </ion-item>
    <ion-button type="submit" [disabled]="edicaoForm.invalid" expand="block">Salvar</ion-button> 
    <ion-button color="danger" [routerLink]="['/gado/geral']" expand="block">Cancelar</ion-button> 
  </form>
</ion-content>