ion-item{
    color: white;
    --ion-item-background:#558335;
}
ion-card{
    color: white;
    --ion-item-background: lightgray;
    font-size: large;
}

ion-modal ion-item{
    color: black;
    --ion-item-background: lightgray;
}

ion-col{
    text-align: center;
}