<ion-header>
  <ion-toolbar>
          <ion-title style="font-size: 25px; font-weight: bold;">
            Santa Sofia
          </ion-title>
          <ion-buttons slot="end" style="margin-right: 20px;">
            <ion-icon button (click)="logout()" name="log-out-outline"></ion-icon>
          </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid style="margin-top: 20%; text-align: center;">
    <ion-row>
      <ion-col>
        <ion-button class="botao-menu" color="success" [routerLink]="['/geral']">Geral</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="botao-menu" color="success">Lotes</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="botao-menu"><ion-icon name="hammer-outline"></ion-icon></ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="botao-menu"><ion-icon name="hammer-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
