<ion-header>
  <ion-toolbar>
    <ion-title>Santa Sofia</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid style="margin-top: 20%;">
    <ion-row>
      <ion-col>
        <ion-button class="botao-menu" color="success" [routerLink]="['/geral']">Geral</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="botao-menu" color="success">Lotes</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="botao-menu"><ion-icon name="hammer-outline"></ion-icon></ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="botao-menu"><ion-icon name="hammer-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
