<ion-content style="height: 100%;">
  <ion-grid style="text-align: center; background-color: #558335; height: 100%;">
    <ion-row style="background-repeat: no-repeat; background-size: auto 200px; background-image: url('../../../assets/fazenda_desenho.jpg'); height: 200px;">
      <ion-col size="6">
        <p style="font-weight: bold; font-size: 30px; margin-top: 10px; color: #565656;">Fazenda Santa Sofia</p>
      </ion-col>
      <ion-col size="6">
          <ion-button shape="round" style="float: right; margin-top: 30px;" (click)="logout()">Sair</ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10px;">
      <ion-col>
        <ion-button class="botao-menu" [routerLink]="['/menuGado']"><img style="width: 100%" src="../../../assets/icon/boi.png"/></ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="botao-menu" [routerLink]="['/menuMetrica']"><img style="width: 100%" src="../../../assets/icon/grafico.png"/></ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10px;">
      <ion-col>
        <ion-button class="botao-menu"><img style="width: 100%" src="../../../assets/icon/alimento.png"/></ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="botao-menu" [routerLink]="['/menuFinanceiro']"><img style="width: 100%" src="../../../assets/icon/cifrao.png"/></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
