<ion-header>
  <ion-toolbar>
    <ion-title>{{gado.nome}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item style="text-align: center;" *ngIf="gado.foto != ''">
      <ion-img style="width: 90%; margin-left: 5%; margin-right: 5%;" [src]="gado.foto"></ion-img>
    </ion-item>
      <ion-item>
        <ion-label>Número</ion-label>
        <ion-input type="number" [(ngModel)]="gado.numero" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Sexo</ion-label>
        <ion-input type="text" [(ngModel)]="gado.sexo" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Peso</ion-label>
        <ion-input type="number" [(ngModel)]="gado.peso" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Raça</ion-label>
        <ion-input [(ngModel)]="gado.raca" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Nascimento</ion-label>
        <ion-input type="date" [(ngModel)]="nasc" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Lote</ion-label>
        <ion-input [(ngModel)]="gado.lote" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea rows="8" placeholder="Insira os dados extras..." [(ngModel)]="gado.rascunho" readonly></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Pai</ion-label>
        <ion-input [(ngModel)]="gado.pai" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Mãe</ion-label>
        <ion-input [(ngModel)]="gado.mae" readonly></ion-input>
      </ion-item>
</ion-content>