<ion-content >
  <ion-card style="justify-content: center; text-align: center; margin-top: 40%;" >
    <ion-card-header>
      <img src="https://img.icons8.com/ios/500/year-of-ox.png" style="height: 80px;">
      <h1 style="font-size: 30px; font-weight: bold; color: black;">Santa Sofia</h1>
    </ion-card-header>
    <form [formGroup]="loginForm" (submit)="login()">
      <ion-item>
        <ion-icon name="mail" slot="start" color="dark"></ion-icon>
        <ion-input formControlName="email" name="email" type="email" placehoder="E-mail" autfocus="true"></ion-input>
      </ion-item>  
      <ion-item>
        <ion-icon name="lock-closed" slot="start" color="dark"></ion-icon>
        <ion-input formControlName="password" name="password" type="password" placehoder="Senha"></ion-input>
      </ion-item> 
      <br/>
      <ion-button [disabled]="loginForm.invalid" color="dark" type="submit" expand="block" fill="clear">Entrar</ion-button>
    </form>  
  </ion-card>
</ion-content>