<ion-header>
  <ion-toolbar>
    <ion-title style="background-color: #335020; font-size: 20px; color: white;">Consulta Geral</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="barraPesquisa">

  </ion-searchbar>
  <ion-list>
    <ion-item-sliding *ngFor="let animal of animais | filter:barraPesquisa">
      <ion-item *ngIf="animal.status == 'vivo'" style="font-size: large;" button [routerLink]="['/gado/detalhes', animal.id]">
        <ion-avatar slot="start" *ngIf="animal.sexo === 'Fêmea'" style="background-color: lightsalmon; text-align: center; width: 50px; height: 50px;">
          <h2 style="margin-top: 10px; padding-top: 0px;">{{animal.numero}}</h2>
        </ion-avatar>
        <ion-avatar slot="start" *ngIf="animal.sexo === 'Macho'" style="background-color: lightblue; text-align: center; width: 50px; height: 50px;">
          <h2 style="margin-top: 10px; padding-top: 0px;">{{animal.numero}}</h2>
        </ion-avatar>
        <ion-label>
          {{animal.nome}}
          <p>{{animal.lote}} - {{(((dataAtual-(animal.nascimento.seconds*1000))/1000)/(60*60*24*30)) | number:'0.0-0'}} Meses</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option button [routerLink]="['/gado/edicao', animal.id]"><span style="font-size: 10px; margin-top: 4px;">Editar</span><ion-icon slot="top" name="create-outline"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button button [routerLink]="['/gado/cadastro']"><ion-icon name="add-outline"></ion-icon></ion-fab-button>
  </ion-fab>
</ion-content>